* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    overflow: hidden;
    background-color: #000;
}

body {
    color: #eee;
}

canvas {
    display: block;
    margin: 5vmin auto;
    width: 80vmin;
    height: 80vmin;
    box-shadow: 0 0 10px #fff;
    max-width: 600px;
    max-height: 600px;
}

button {
    border: none;
    height: 32px;
    padding: 0 16px;
    border-radius: 16px;
    background-color: #9cf;
    cursor: pointer;
}

button[disabled] {
    background-color: #444;
}

#fps {
    color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
}